<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../scss/index.scss" />
    <title>Document</title>
  </head>
  <body>
    <div id="main-clock" class="clock clock-design">
      <div id="clock-design">
        <div class=" line-hour"></div>
        <div class=" line-minutes"></div>
        <div class=" line-seconds"></div>
      </div>
    </div>
  </body>
  <script src="../JS/index.js"></script>
</html>
